/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2014, 7:49:13 PM
    Author     : Todd
*/
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #12EAB7 0%, #E4E4E4 100%);
    background-image:-webkit-linear-gradient(top, #12EAB7 0%, #E4E4E4 100%);
    background-image:-ms-linear-gradient(top, #12EAB7 0%, #E4E4E4 100%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #12EAB7),
        color-stop(1, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:10px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

#menu{
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
}

.menuButton{
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    width: 200px;
    margin: 5px;
    }

#btnMenu{
    width: 190px;
    font-size: 18px;
    margin: 10px;
}

.btnKeypad{
    width: 60px;
    height: 60px;
    margin-top: 5px;
    font-size: 18px;
}

#question{
    font-size: 30px;
    }

#answer{
    font-size: 30px;
}

#btnClear{
    width: 125px;
    height: 60px;
    font-size: 18px;
}

#btnCheckAnswer{
    width: 190px;
    height: 60px;    
    font-size: 18px;
    margin-top: 5px;
}

#correct{
    display: none; 
    text-align: center; 
    margin:  0px; 
    background-color: green; 
    background-attachment: fixed;
    position: absolute; 
    top: 0px;  
    z-index: 1001; 
    height: 100%; 
    width:100%;
    font-size: 50px;
    color: white;
}

#correctText{
    font-size: 50px;
    color: white;
    display: inline-block;
    margin-top: 150px;
}

#incorrect{
    display: none;
    text-align: center;
    margin: 0px;
    background-color: red;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    z-index: 1001;
    height: 100%;
    width: 100%;    
}

#incorrectText{
    font-size: 50px;
    color: white;
    display: inline-block;
    margin-top: 150px;
}

#score{
    font-size: 18px;
    margin: 10px;    
}